{% load static %}
<style>
@media (min-width: 992px) {
  .sticky-top {
    position: static; /* Отменяет фиксированное позиционирование для больших экранов */
  }
}
.sticky-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1030; /* Устанавливает приоритет отображения над другими элементами */
  background-color: #ffffff; /* Задает фоновый цвет */
}
</style>
<style>
.fullscreen-menu {
  position: fixed;
  height: 100%;
  background-color: whitesmoke;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0; /* Убедитесь, что отступы по умолчанию отсутствуют */
  padding: 0;
  top: 0;
  left: 0;
}

.fullscreen-menu.open {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.fullscreen-menu .menu-content {
  color: #fff;
}

.fullscreen-menu .menu-list {
  list-style: none;
  padding: 0;
}

.fullscreen-menu .menu-list li {
  margin: 20px 0;
}

.fullscreen-menu .menu-list li a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.fullscreen-menu .close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 36px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}
.no-scroll {
  overflow: hidden;
  height: 100vh;
}
@media (max-width: 991.98px) {
  .catalogs {
      max-height: 200px; /* Установите желаемую максимальную высоту */
      overflow-y: auto; /* Включите прокрутку по вертикали */
  }
}

</style>
<header class="container sticky-top" style="background-color: #fff;">
  <nav class='d-flex border-bottom justify-content-center'>
    <!-- Мобильная версия -->
    <div class="row mx-auto d-flex d-lg-none justify-content-center align-items-center mt-4 mb-3">
      <div class='col-5 d-flex justify-content-center align-items-center'>
        <a href="/">
          <img class='img-fluid' src="{% static 'images/logos/logo.jpg' %}" alt="Логотип"/>
        </a>
      </div>
      <div class='col-3 d-flex flex-column' style="font-size: x-small;">
        <a href="tel:+79296224835" class="text-center d-flex flex-column link-dark link-underline-dark">
          <label class="col-12 fw-bold" style="font-size: xx-small; white-space: nowrap;">Обратный звонок</label>
          <label class="col-12" style="font-size: xx-small; white-space: nowrap;">+7(499) 322-91-25</label>
        </a>
      </div>
      <div class="col-4 d-flex justify-content-center align-items-center">
        <label class="me-3 d-flex justify-content-center" style="font-size: 12px;" onclick="openCatalogMenu()">Каталог<i class="bi bi-list ms-1"></i></label>
        <i class="bi bi-list" style="font-size: 15px;" onclick="toggleMenu()"></i>
      </div>
      <div class="col-12">
        <form method="GET" action="{% url 'catalog' %}">
          <div class="input-group" style="width: 100%;">
            <input type="text" name="search" class="form-control" placeholder="Введите название товара">
            <button type="submit" class="btn bg-dark text-light">Поиск</button>
          </div>
        </form>
      </div>
    </div>
    

    <!-- Десктопная версия -->
    <article class="col-lg-3 d-none d-lg-flex justify-content-center align-items-center">
      <a href="/">
      <img class='img-fluid btn btn-link' src="{% static 'images/logos/logo.jpg' %}" alt="Логотип"/>
      </a>
    </article>
    <article class='col-lg-5 d-none d-lg-flex align-items-center justify-content-center'>
      <form method="GET" action="{% url 'catalog' %}">
        <div class="input-group" style="width: 100%;">
          <input type="text" name="search" class="form-control" placeholder="Введите название товара">
          <button type="submit" class="btn bg-dark text-light">Поиск</button>
        </div>
      </form>
    </article>
    <article class="col-lg-2 d-none d-lg-flex">
      <a href="tel:+79296224835" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover d-flex flex-column w-100" style="font-size: 10;">
        <p class="text-center mt-3">+7 (929) 622-48-35</p>
        <p class="fw-lighter text-center">Без выходных, 08:00 - 20:00</p>
      </a>
    </article>  
    <article class='col-lg-2 d-none d-lg-flex align-items-center justify-content-center'>
      <div class="link-underline-opacity-0">
        <a href="https://wa.me/79296224835" target="_blank" class="icon-link me-4" aria-label="WhatsApp">
          <i class="bi bi-whatsapp" style="font-size: 2rem; color: #000;"></i>
        </a>
        <a href="https://t.me/alex12_alex12" target="_blank" class="icon-link ms-4" aria-label="Telegram">
          <i class="bi bi-telegram" style="font-size: 2rem; color: #000;"></i>
        </a>
      </div>
    </article>    
  </nav>

  <!-- Navbar -->
  {% include 'header/navbar.html' %}

  <!-- Burger Menu -->
  <div id="fullScreenMenu" class="fullscreen-menu container-fluid">
    <div class="menu-content">
      <button class="close-btn text-dark" onclick="toggleMenu()">×</button>
      <div class="col-12 d-flex flex-column justify-content-center mt-5" style="font-family: tilda-light">
          <label class="mt-3 border-bottom text-dark">
            <a class="nav-link link-dark {% if request.path == '/catalog/' %}active{% endif %}" href="/catalog/">Каталог</a>
            <div class="categories-dropdown w-100 bg-light">
              <div class="row rounded shadow p-3">
                <a class="link-underline link-underline-opacity-0 text-dark {% if request.path == '/catalog/' %}active{% endif %}" href="/catalog/">Все двери</a>
                {% for chapter, catalogs in chapters_with_titles.items %}
                <div class="col-3" style="font-family: tilda-light">
                    <label class="mt-3 border-bottom">{{ chapter }}</label>
                    <ul class="list-unstyled categories-item">
                        {% for catalog in catalogs %}
                            <a class="link-underline link-underline-opacity-0 text-dark" href="{% url 'catalog_with_slug' catalog.slug %}">
                                <li style="font-size: medium;">
                                    {{ catalog.title }} 
                                    <label class='text-secondary' style="font-size: small;">{{ catalog.door_count }} шт.</label>
                                </li>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
              </div>
            </div>
          </label>
          <label class="mt-3 border-bottom text-dark">
              <a class="nav-link link-dark {% if request.path == '/delivery/' %}active{% endif %}" href="/delivery/">Доставка</a>
          </label>
          <label class="mt-3 border-bottom text-dark">
              <a class="nav-link link-dark {% if request.path == '/installation/' %}active{% endif %}" href="/installation/">Установка</a>
          </label>
          <label class="mt-3 border-bottom text-dark">
              <a class="nav-link link-dark {% if request.path == '/contacts/' %}active{% endif %}" href="/contacts/">Контакты</a>
          </label>
          <label class="mt-3 border-bottom text-dark">
              <a class="nav-link link-dark {% if request.path == '/garant/' %}active{% endif %}" href="/garant/">Гарантии</a>
          </label>
          <label class="mt-3 border-bottom text-dark">
              <a class="nav-link link-dark {% if request.path == '/calc/' %}active{% endif %}" href="/calc/">Калькулятор</a>
          </label>
          <label class="mt-3 border-bottom text-dark">
              <a class="nav-link link-dark {% if request.path == '/reviews/' %}active{% endif %}" href="/reviews/">Отзывы</a>
          </label>
          <label class="mt-3 border-bottom text-dark">
              <a class="nav-link link-dark {% if request.path == '/shop_card/' %}active{% endif %}" href="/shop_card/">Корзина</a>
          </label>
      </div>
    </div>
  </div>

  <!-- Catalogs menu -->
  <div class="catalogs d-none w-100 bg-light" id="catalogMenu">
    <div class="row rounded shadow p-3">
      <a class="link-underline link-underline-opacity-0 text-dark {% if request.path == '/catalog/' %}active{% endif %}" href="/catalog/">Все двери</a>
      {% for chapter, catalogs in chapters_with_titles.items %}
      <div class="col-12" style="font-family: tilda-light">
          <label class="mt-3 border-bottom">{{ chapter }}</label>
          <ul class="list-unstyled categories-item">
              {% for catalog in catalogs %}
                  <a class="link-underline link-underline-opacity-0 text-dark" href="{% url 'catalog_with_slug' catalog.slug %}">
                      <li style="font-size: medium;">
                          {{ catalog.title }} 
                          <label class='text-secondary' style="font-size: small;">{{ catalog.door_count }} шт.</label>
                      </li>
                  </a>
              {% endfor %}
          </ul>
      </div>
      {% endfor %}
    </div>
  </div>
</header>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var menuButton = document.getElementById('menuButton');
    var catalogButton = document.getElementById('catalogButton');
    var menu = document.getElementById('menu');
    var chapters = document.getElementsByClassName('chapter-section');

    // Открытие меню при нажатии на кнопку
    menuButton.addEventListener('click', function(event) {
      menu.classList.toggle('d-none');
      menu.classList.toggle('d-flex');
      event.stopPropagation(); // Останавливаем распространение события, чтобы не закрыть меню сразу
    });

    catalogButton.addEventListener('click', function(event) {
      // Переключаем классы для всех элементов с классом chapter-section
      for (var i = 0; i < chapters.length; i++) {
        chapters[i].classList.toggle('d-none');
        chapters[i].classList.toggle('d-block');
      }
      event.stopPropagation();
    });

    // Закрытие меню при клике вне его области
    document.addEventListener('click', function(event) {
      var isClickInside = menu.contains(event.target) || menuButton.contains(event.target);
      if (!isClickInside && !menu.classList.contains('d-none')) {
        menu.classList.add('d-none');
        menu.classList.remove('d-flex');
      }
    });
  });
</script>
<script>
function toggleMenu() {
  const menu = document.getElementById('fullScreenMenu');
  
  if (menu.classList.contains('open')) {
    // Закрытие меню
    document.body.classList.remove('no-scroll'); // Разрешаем прокрутку
    menu.classList.remove('open'); // Убираем класс 'open'

    setTimeout(() => {
      menu.style.visibility = 'hidden'; // Скрываем меню после анимации
    }, 300); // Ожидание завершения анимации перед скрытием
  } else {
    // Открытие меню
    menu.style.visibility = 'visible'; // Делаем меню видимым
    document.body.classList.add('no-scroll'); // Запрещаем прокрутку

    // Небольшая задержка для плавного эффекта
    setTimeout(() => {
      menu.classList.add('open'); // Добавляем класс 'open' для анимации
    }, 10); 
  }
}

function openCatalogMenu() {
    const catalogMenu = document.getElementById('catalogMenu'); // Получаем элемент меню
    catalogMenu.classList.toggle('d-none'); // Переключаем класс d-none для показа/скрытия
}
</script>