{% load static %}
<style>
  .icon-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 30%;
    width: 60%;
    background: white;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    z-index: 1000;
  }
  .dropdown-menu.show {
    display: block;
  }
</style>
<header class="container bg-main">
  <div class='d-flex border-bottom'>
    <!-- Мобильная версия -->
    <div class="row mx-auto d-flex d-lg-none justify-content-center align-items-center mt-4">
      <div class='col-2'>
        <img class='img-fluid rounded' src="{% static 'images/icons/menu-50.png' %}" alt="Меню" id="menuButton"/>
      </div>
      <div class='col-8 d-flex justify-content-center'>
        <a href="/">
          <img class='img-fluid' src="{% static 'images/logos/logo-paritet.png' %}" alt="Логотип"/>
        </a>
      </div>
      <div class='col-2'>
        <a href="tel:+79296224835">
          <img class='img-fluid rounded' src="{% static 'images/icons/phone-50.png' %}" alt="Телефон" />
        </a>
      </div>
    </div>

    <!-- Десктопная версия -->
    <article class="col-lg-4 d-none d-lg-flex justify-content-center align-items-center">
      <a href="/">
      <img class='img-fluid btn btn-link' src="{% static 'images/logos/logo-paritet.png' %}" alt="Логотип"/>
      </a>
    </article>
    <article class='col-lg-4 d-none d-lg-flex align-items-center justify-content-center'>
      <div class="input-group" style="width: 70%;">
        <input type="text" class="form-control" placeholder="Введите название товара" aria-describedby="basic-addon2">
        <div class="btn bg-dark text-light" id="basic-addon2">Поиск</div>
      </div>
    </article>
    <article class="col-lg-2 d-none d-lg-flex">
      <a href="tel:+79296224835" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover d-flex flex-column w-100" style="font-size: 10;">
        <p class="text-center mt-3">+7 (929) 622-48-35</p>
        <p class="fw-lighter text-center">Без выходных, 08:00 - 20:00</p>
      </a>
    </article>  
    <article class='col-lg-2 d-none d-lg-flex align-items-center justify-content-center'>
      <div class="link-underline-opacity-0">
        <a href="https://wa.me/79296224835" class="icon-link me-4" style="background-image: url('{% static 'images/icons/wapp-50.png' %}');"></a>
        <a href="https://t.me/alex12_alex12" class="icon-link ms-4" style="background-image: url('{% static 'images/icons/tg-50.png' %}');"></a>
      </div>
    </article>
  </div>
  <!-- Navbar -->
  {% include 'header/navbar.html' %}
</header>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const menuButton = document.getElementById('menuButton');
    const dropdownMenu = document.getElementById('dropdownMenu');

    function toggleMenu() {
      const isMenuOpen = dropdownMenu.classList.contains('show');
      if (isMenuOpen) {
        dropdownMenu.classList.remove('show');
      } else {
        dropdownMenu.classList.add('show');
      }
    }

    if (menuButton && dropdownMenu) {
      menuButton.addEventListener('click', function(event) {
        event.stopPropagation();
        toggleMenu();
      });
    }

    document.addEventListener('click', function(event) {
      if (!menuButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
        dropdownMenu.classList.remove('show');
      }
    });
  });
</script>