{% load static %}
<style>
@media (min-width: 992px) {
  .sticky-top {
    position: static; /* Отменяет фиксированное позиционирование для больших экранов */
  }
}
.sticky-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1030; /* Устанавливает приоритет отображения над другими элементами */
  background-color: #f8f9fa; /* Задает фоновый цвет */
}
</style>
<header class="container bg-light sticky-top">
  <nav class='d-flex border-bottom'>
    <!-- Мобильная версия -->
    <div class="row mx-auto d-flex d-lg-none justify-content-center align-items-center mt-4 mb-3">
      <div class='col-8 d-flex justify-content-center'>
        <a href="/">
          <img class='img-fluid' src="{% static 'images/logos/logo-paritet.png' %}" alt="Логотип"/>
        </a>
      </div>
      <div class='col-4 d-flex flex-lg-row flex-column' style="font-size: x-small;">
        <a href="tel:+79296224835" class="d-flex flex-lg-row flex-column link-dark link-underline-opacity-0 text-center">
          <label class="text-dark link-underline-opacity-0">+7 (929) 622-48-35</label>
          <div class="btn btn-outline-danger btn-sm mt-1" style="font-size: x-small; white-space: nowrap;">Обратный звонок</div>
        </a>
      </div>
      <div class="row">
        <div class="col-8 link-underline-opacity-0 d-flex align-items-center">
          <a href="https://wa.me/79296224835" class="link-underline link-underline-opacity-0" target="_blank">
            <i class="bi bi-whatsapp" style="color: black; font-size: x-large;"></i>
          </a>
          <a href="https://t.me/alex12_alex12" class="ms-4 link-underline link-underline-opacity-0" target="_blank">
            <i class="bi bi-telegram" style="color: black; font-size: x-large;"></i>
          </a>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center">
          <i class="bi bi-list" style="font-size: 30px;"></i>
        </div>
      </div>
    </div>

    <!-- Десктопная версия -->
    <article class="col-lg-4 d-none d-lg-flex justify-content-center align-items-center">
      <a href="/">
      <img class='img-fluid btn btn-link' src="{% static 'images/logos/logo-paritet.png' %}" alt="Логотип"/>
      </a>
    </article>
    <article class='col-lg-4 d-none d-lg-flex align-items-center justify-content-center'>
      <form method="GET" action="{% url 'catalog' %}">
        <div class="input-group" style="width: 100%;">
          <input type="text" name="search" class="form-control" placeholder="Введите название товара">
          <button type="submit" class="btn bg-dark text-light">Поиск</button>
        </div>
      </form>
    </article>
    <article class="col-lg-2 d-none d-lg-flex">
      <a href="tel:+79296224835" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover d-flex flex-column w-100" style="font-size: 10;">
        <p class="text-center mt-3">+7 (929) 622-48-35</p>
        <p class="fw-lighter text-center">Без выходных, 08:00 - 20:00</p>
      </a>
    </article>  
    <article class='col-lg-2 d-none d-lg-flex align-items-center justify-content-center'>
      <div class="link-underline-opacity-0">
        <a href="https://wa.me/79296224835" target="_blank" class="icon-link me-4" aria-label="WhatsApp">
          <i class="bi bi-whatsapp" style="font-size: 2rem; color: #000;"></i>
        </a>
        <a href="https://t.me/alex12_alex12" target="_blank" class="icon-link ms-4" aria-label="Telegram">
          <i class="bi bi-telegram" style="font-size: 2rem; color: #000;"></i>
        </a>
      </div>
    </article>    
  </nav>

  <!-- Navbar -->
  {% include 'header/navbar.html' %}
</header>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var menuButton = document.getElementById('menuButton');
    var catalogButton = document.getElementById('catalogButton');
    var menu = document.getElementById('menu');
    var chapters = document.getElementsByClassName('chapter-section');

    // Открытие меню при нажатии на кнопку
    menuButton.addEventListener('click', function(event) {
      menu.classList.toggle('d-none');
      menu.classList.toggle('d-flex');
      event.stopPropagation(); // Останавливаем распространение события, чтобы не закрыть меню сразу
    });

    catalogButton.addEventListener('click', function(event) {
      // Переключаем классы для всех элементов с классом chapter-section
      for (var i = 0; i < chapters.length; i++) {
        chapters[i].classList.toggle('d-none');
        chapters[i].classList.toggle('d-block');
      }
      event.stopPropagation();
    });

    // Закрытие меню при клике вне его области
    document.addEventListener('click', function(event) {
      var isClickInside = menu.contains(event.target) || menuButton.contains(event.target);
      if (!isClickInside && !menu.classList.contains('d-none')) {
        menu.classList.add('d-none');
        menu.classList.remove('d-flex');
      }
    });
  });
</script>