{% load static %}
<style>
  li :hover {
    background-color: var(--navbar-hover);
  }
  @font-face {
    font-family: 'tilda';
    src: url('{% static "fonts/TildaSans-Regular.ttf" %}') format('truetype');
    font-weight: 400; /* Обычный вес */
    font-style: normal; /* Обычный стиль (не курсив) */
  }

</style>
<ul class="nav nav-underline d-flex justify-content-center border-bottom d-none d-lg-flex" style="font-family: tilda;">
  <li class="nav-item">
    <a class="nav-link link-dark {% if request.path == '/catalog/' %}active{% endif %}" href="/catalog/">Каталог</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-dark {% if request.path == '/installation/' %}active{% endif %}" href="/installation/">Установка</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-dark {% if request.path == '/delivery/' %}active{% endif %}" href="/delivery/">Доставка</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-dark {% if request.path == '/useful/' %}active{% endif %}" href="/useful/">Полезное</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-dark {% if request.path == '/news/' %}active{% endif %}" href="/news/">Новости</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-dark {% if request.path == '/reviews/' %}active{% endif %}" href="/reviews/">Отзывы</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-dark {% if request.path == '/contacts/' %}active{% endif %}" href="/contacts/">Контакты</a>
  </li>
</ul>
<ul class="nav nav-underline d-lg-none flex-column dropdown-menu container text-center" id="dropdownMenu">
  <li class="nav-item">
    <a class="nav-link link-dark {% if request.path == '/catalog/' %}active{% endif %}" href="/catalog/">Каталог</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-dark {% if request.path == '/installation/' %}active{% endif %}" href="/installation/">Установка</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-dark {% if request.path == '/delivery/' %}active{% endif %}" href="/delivery/">Доставка</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-dark {% if request.path == '/useful/' %}active{% endif %}" href="/useful/">Полезное</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-dark {% if request.path == '/news/' %}active{% endif %}" href="/news/">Новости</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-dark {% if request.path == '/reviews/' %}active{% endif %}" href="/reviews/">Отзывы</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-dark {% if request.path == '/contacts/' %}active{% endif %}" href="/contacts/">Контакты</a>
  </li>
</ul>