{% extends '../index.html' %}  <!-- Замените 'base.html' на ваш базовый шаблон -->
{% load custom_filters %}
{% block content %}
<h1 class="text-center mb-4">Door Catalog</h1>
<div class="row">
    {% for door in doors %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <!-- Изображение двери -->
            {% with door.images|split_and_get_first_two as image_urls %}
            {% if image_urls %}
                <img src="{{ MEDIA_URL }}{{ image_urls.0 }}" class="card-img-top" alt="{{ door.title }} - Image 1">
            {% endif %}
            {% if image_urls|length > 1 %}
                <img src="{{ MEDIA_URL }}{{ image_urls.1 }}" class="card-img-top" alt="{{ door.title }} - Image 2">
            {% endif %}
            {% endwith %}
            <div class="card-body">
                <h5 class="card-title">{{ door.title }}</h5>
                <p class="card-text"><strong>Price:</strong> {{ door.price }}</p>
                {% if door.discount %}
                <p class="text-success">Discount: {{ door.discount }}%</p>
                {% endif %}
                <p class="card-text">{{ door.purpose }}</p>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No doors available.</p>
    {% endfor %}
</div>

<!-- Пагинация -->
<nav aria-label="Page navigation">
  <ul class="pagination">
    {% if doors.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1" aria-label="First">
          <span aria-hidden="true">&laquo;&laquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ doors.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% endif %}

    {% for num in doors.paginator.page_range %}
      {% if doors.number == num %}
        <li class="page-item active">
          <span class="page-link">{{ num }}</span>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% if doors.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ doors.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ doors.paginator.num_pages }}" aria-label="Last">
          <span aria-hidden="true">&raquo;&raquo;</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
