{% extends '../index.html' %}
{% load custom_filters %}
{% load static %}
{% load thumbnail %}

{% if catalog %}
  {% block description %}
    {% if not catalog.description %} 
      <meta name="description" content="Купить металлические входные двери {% if catalog %}{{ catalog.title }}{% endif %} в квартиру, доставка, изготовление на заказ и установка готовых входных металлических дверей  в Москве в квартиру и загородный дом. Каталог с фото и описанием. Гарантия на двери 1 год. Акции и скидки.">
    {% else %}
      <meta name="description" content="{{ catalog.description }}">
    {% endif %}
  {% endblock %}
{% endif %}

{% block title %}
Купить металлические входные двери {% if catalog %}{{ catalog.title }}{% endif %} в Москве с установкой по цене производителя - на сайте Паритет двери - Страница {{ page }}
{% endblock %}

{% block keywords %}
{% endblock %}
{% block content %}

<style>
  .btn-light:hover {
      background-color: #ffdae0; /* Розовый цвет при наведении */
      border-color: #ffc0cb; /* Розовая рамка при наведении */
      color: #fff; /* Белый текст при наведении */
  }
</style>
<script>
var minValue = {{ min_price|default:"0" }};
var maxValue = {{ max_price|default:"1000" }};
$(document).ready(function() {
    $("#range-slider").ionRangeSlider({
        type: "double",
        min: 0,
        max: maxValue,
        from: minValue,
        to: maxValue,
        grid: true,
        skin: "flat",
        postfix: '₽',
        onFinish: function (data) {
            $("#min-value").val(data.from);
            $("#max-value").val(data.to);
        }
    });
});
</script>
<style>
  .strikethrough-svg {
      position: relative;
      display: inline-block;
      font-size: large;
      color: #ff0000;
  }
  .strikethrough-svg svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
  }
  .strikethrough-svg span {
      position: relative;
      z-index: 1;
  }
  .card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .card-body {
    flex: 1; /* Занимает всё доступное пространство внутри карточки */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Располагает элементы так, чтобы кнопка была внизу */
  }

  @media (max-width: 992px) {
    .image-container {
      
    }
  }
  @media (min-width: 992px) { 
  .border-end-lg {
    border-right: 1px solid #ced4da;
  }
  .border-start-lg {
    border-left: 1px solid #ced4da;
  }
}
</style>

<nav aria-label="breadcrumb" class="mt-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="link-dark" href="{% url 'index' %}">Главная</a></li>
    <li class="breadcrumb-item active" aria-current="page">Каталог</li>
  </ol>
</nav>
{% if catalog %}
<h1>{{ catalog.custom_h1 }}</h1>
{% else %}
<h2 class="text-center my-4">Входные металлические двери от производителя</h2>
{% endif %}
<section class="row flex-lg-row flex-column">
  <section class="col-lg-4 col-12">
    <form method="get" id="filter-form" action="{% url 'catalog' %}">
      <fieldset>
        <legend>Фильтры</legend>
        <!-- Фильтры по цене -->
        <div class="mb-3">
          <button class="btn text-light shadow w-100" type="button" data-bs-toggle="collapse" data-bs-target="#priceFilters" aria-expanded="false" aria-controls="priceFilters" style="background-color: #ff0000;">
            Фильтры по цене
          </button>
          <div class="collapse show" id="priceFilters">
            <div class="card card-body">
              <input type="text" id="range-slider" value="" />
              <input type="hidden" id="min-value" name="price_min">
              <input type="hidden" id="max-value" name="price_max">
            </div>
          </div>
        </div>
  
        <!-- Фильтры по брендам -->
        <div class="mb-3">
          <button class="btn text-light shadow w-100 text-light" type="button" data-bs-toggle="collapse" data-bs-target="#brandFilters" aria-expanded="false" aria-controls="brandFilters" style="background-color: #ff0000;">
            Фильтры по брендам
          </button>
          <div class="collapse " id="brandFilters">
            <div class="card card-body">
              <div class="form-group">
                {% for brand in brands %}
                  <div class="form-check">
                    <input class="form-check-input brand-checkbox" type="checkbox" value="{{ brand }}" id="brand_{{ brand|translit_slugify }}" {% if brand in selected_brands %}checked{% endif %}>
                    <label class="form-check-label" for="brand_{{ brand|translit_slugify }}">
                      {{ brand }}
                    </label>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <!-- Фильтр по внешней отделке (out_covers) -->
        <div class="mb-3">
          <button class="btn text-light shadow w-100" type="button" data-bs-toggle="collapse" data-bs-target="#outCoverFilters" aria-expanded="false" aria-controls="outCoverFilters" style="background-color: #ff0000;">
            Фильтры по внешней отделке
          </button>
          <div class="collapse " id="outCoverFilters">
            <div class="card card-body">
              <div class="form-group">
                {% for out_cover in out_covers %}
                  <div class="form-check">
                    <input class="form-check-input out-cover-checkbox" type="checkbox" value="{{ out_cover }}" id="out_cover_{{ out_cover|translit_slugify }}" {% if out_cover in selected_out_covers %}checked{% endif %}>
                    <label class="form-check-label" for="out_cover_{{ out_cover|translit_slugify }}">
                      {{ out_cover }}
                    </label>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <!-- Фильтр по внутренней отделке (in_covers) -->
        <div class="mb-3">
          <button class="btn text-light shadow w-100" type="button" data-bs-toggle="collapse" data-bs-target="#inCoverFilters" aria-expanded="false" aria-controls="inCoverFilters" style="background-color: #ff0000;">
            Фильтры по внутренней отделке
          </button>
          <div class="collapse " id="inCoverFilters">
            <div class="card card-body">
              <div class="form-group">
                {% for in_cover in in_covers %}
                  <div class="form-check">
                    <input class="form-check-input in-cover-checkbox" type="checkbox" value="{{ in_cover }}" id="in_cover_{{ in_cover|translit_slugify }}" {% if in_cover in selected_in_covers %}checked{% endif %}>
                    <label class="form-check-label" for="in_cover_{{ in_cover|translit_slugify }}">
                      {{ in_cover }}
                    </label>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <!-- Фильтр по назначению (purpose) -->
        <div class="mb-3">
          <button class="btn text-light shadow w-100" type="button" data-bs-toggle="collapse" data-bs-target="#purposeFilters" aria-expanded="false" aria-controls="purposeFilters" style="background-color: #ff0000;">
            Фильтры по назначению
          </button>
          <div class="collapse " id="purposeFilters">
            <div class="card card-body">
              <div class="form-group">
                {% for purpose in purposes %}
                  <div class="form-check">
                    <input class="form-check-input purpose-checkbox" type="checkbox" value="{{ purpose }}" id="purpose_{{ purpose|translit_slugify }}" {% if purpose in selected_purposes %}checked{% endif %}>
                    <label class="form-check-label" for="purpose_{{ purpose|translit_slugify }}">
                      {{ purpose }}
                    </label>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
  
        <!-- Скрытые поля для объединённых значений -->
        <input type="hidden" name="brand" id="brand-field">
        <input type="hidden" name="purpose" id="purpose-field">
        <input type="hidden" name="out_covers" id="out-cover-field">
        <input type="hidden" name="in_covers" id="in-cover-field">
  
        <!-- Кнопки для применения и сброса фильтров -->
         <div class="d-flex justify-content-center">
          <button class="btn btn-outline-danger m-1" type="submit">Применить фильтры</button>
          <button class="btn btn-outline-danger m-1" type="button" id="reset-filters">Сбросить фильтры</button>
        </div>
      </fieldset>
    </form>
  </section>
  
  <aside class="col-lg-8 col-12">
    <section class="row d-flex flex-row mt-2">
      <div class="tags-cloud d-flex flex-wrap">
          <label class="text-center" style="font-size: 15px;">Основные категории: </label>
          {% for tag in tags_cloud %}
          <a href="{% url 'catalog_with_slug' tag.slug %}" class="btn btn-light link-underline link-underline-opacity-0 px-2 py-0 mx-1 mb-2" style="color: #000; font-size: 15px; border: 1px solid #ddd;">{{ tag.title }}</a>
          {% endfor %}
      </div>
    </section>
    <section class="row d-flex flex-row mt-2">
      <div class="tags-cloud d-flex flex-wrap">
        {% if catalog %}{{ catalog.content|safe }}{% endif %}
      </div>
    </section>
    <!-- </div> -->
    <p class="my-4 col text-center">Сортировать по:</p>
    <div class="d-flex flex-lg-row align-items-center my-3">
      <!-- Сортировка по новизне -->
      <button class="btn text-light col h-50 mt-lg-0 mt-2 w-100 rounded-pill" style="background-color: crimson;" onclick="sortItems('novelty')">
        Новизне <span id="novelty-sort-symbol">⇅</span>
      </button>
      <!-- Сортировка по цене -->
      <button class="btn text-light col h-50 mt-lg-0 mt-2 w-100 mx-2 rounded-pill" style="background-color: crimson;" onclick="sortItems('price')">
        Цене <span id="price-sort-symbol">⇅</span>
      </button>
      <!-- Сортировка по заказам -->
      <button class="btn text-light col h-50 mt-lg-0 mt-2 w-100 rounded-pill" style="background-color: crimson;"  onclick="sortItems('orders')">
        Заказам <span id="orders-sort-symbol">⇅</span>
      </button>
    </div>
  
    <div class="row" id="door-list">
      {% for door in doors %}
      <div class="col-lg-6 col-12 mt-lg-0 mt-4 mb-4 door-item" data-price="{{ door.price }}" data-orders="{{ door.get_order_count }}" data-novelty="{{ door.id }}">
        <div class="card h-100">
          <section class="d-flex align-items-center p-2" data-bs-ride="false" style="height: 450px; overflow: hidden;">
            <div class="position-absolute d-flex flex-column" style="top: 10px; z-index: 2;">
                {% for tag in door.tags.all %}
                    <span class="badge rounded-pill text-{{ tag.text_color }} mx-auto" style="background-color: {{ tag.color_hex }}; margin-bottom: 5px;">{{ tag.title }}</span>
                {% endfor %}
            </div>
            <div class="d-flex flex-row flex-wrap align-items-start" style="width: 100%;">
                {% with door.images|split_and_get_all as image_urls %}
                    {% for image_url in image_urls %}
                        <div class="image-container" style="flex: 1 1 calc(33.33% - 10px); margin: 5px; height: 360px; overflow: hidden;">
                          <a href="{% url 'door_detail' slug=door.slug %}" onclick="addToViewed('{{ door.title }}', '{{ door.images|split_and_get_all|escapejs }}', '{{ door.price }}', '{{ door.slug }}')">
                            <picture>
                              <!-- Использование формата WebP для современных браузеров -->
                              <source srcset="{% thumbnail image_url '360x360' format='webp' %}" type="image/webp">
                              <!-- Использование стандартного формата для других браузеров -->
                              <img src="{% thumbnail image_url '360x360' %}" class="img-fluid" alt="{{ door.title }} - Image {{ forloop.counter }}" loading="lazy" style="height: 100%; width: 100%; object-fit: contain;">
                          </picture>
                          </a>
                        </div>
                    {% endfor %}
                {% endwith %}
            </div>
        </section>
          
        <section class="card-body">
          <a href="{% url 'door_detail' slug=door.slug %}" onclick="addToViewed('{{ door.title }}', '{{ door.images|split_and_get_all|escapejs }}', '{{ door.price }}', '{{ door.slug }}')"><p class="card-title fw-bold">{{ door.title }}</p></a>
          {% if door.discount %}
          <label class="rounded p-2" style="background-color: #ffe5e5; font-family: gasalt;">
              {% with result=door.price|calculate_discount:door.discount %}
                  <div class="position-absolute d-flex flex-column" style="bottom: 40%; z-index: 2; right: 10px;">
                      {% if door.discount %}
                          <span class="badge rounded-pill bg-danger text-white mx-auto" style="margin-bottom: 5px; font-size: 15px;"><i class="bi bi-plus-circle-fill me-2"></i>{{ result.discount_amount }} ₽</span>
                      {% endif %}
                  </div>
                  <label class="card-text rounded" style="color: #ff0000;">{{ result.final_price }} ₽</label>
                  <label class="card-text rounded text-secondary strikethrough-svg" style="font-size: small;">
                      <span>{{ door.price|format_number }} ₽</span>
                      <svg viewBox="0 0 100 100">
                          <line x1="-150" y1="0" x2="150" y2="80" stroke="#ff0000" stroke-width="4"/>
                      </svg>
                  </label>
                  <label class="card-text rounded bg-danger text-white p-1" style="font-size: x-small;">-{{ door.discount }}%</label>
              {% endwith %}
          </label>
      {% else %}
          <label class="card-text p-2 rounded text-dark" style="font-family: gasalt;">{{ door.price|format_number }} ₽</label>
      {% endif %}
      
          <label class="card-text text-secondary pb-3 mt-auto">{{ door.size_name }}</label>
          <div class="d-flex flex-lg-row flex-column mt-auto align-items-center justify-content-center w-100" style="gap: 5px;">
            <a href="{% url 'door_detail' slug=door.slug %}" class="flex-grow-1 w-100">
                <button class="btn btn-outline-danger fw-bold btn-sm w-100" 
                        onclick="addToViewed('{{ door.title }}', '{{ door.images|split_and_get_all|escapejs }}', '{{ door.price }}', '{{ door.slug }}')">
                    Узнать подробнее
                </button>
            </a>        
            <div class="flex-grow-1 w-100">
                <button class="btn btn-outline-danger fw-bold btn-sm w-100" data-bs-toggle="modal" data-bs-target="#requestModal">
                    Купить в 1 клик
                </button>
            </div>
        </div>
        <div class="row d-flex flex-row">
            <button onclick="addToCompare({{ door.id }})" class="btn col">
                <i class="bi bi-bar-chart-fill" style="color: #ff0000; font-size: large;"> Сравнить</i>
            </button>
            <button onclick="addToCart('{{ door.title }}', '{{ door.images }}', {{ door.price }})" class="btn col">
              <i class="bi bi-basket2-fill" style="color: #ff0000; font-size: large;"> В корзину</i>
            </button>
        </div>
        
        </section>
        </div>
      </div>
      {% endfor %}
    </div>
    <section class="row d-flex flex-row mt-2">
      <div class="tags-cloud d-flex flex-wrap">
          <label class="text-center" style="font-size: 15px;">Категории по производителям: </label>
          {% for tag in tags_cloud_extends %}
          <a href="{% url 'catalog_with_slug' tag.slug %}" class="btn btn-light link-underline link-underline-opacity-0 px-2 py-0 mx-1 mb-2" style="color: #000; font-size: 15px; border: 1px solid #ddd;">{{ tag.title }}</a>
          {% endfor %}
      </div>
    </section>

    <!-- Пагинация -->
    <nav aria-label="Page navigation" class="mt-2">
      <ul class="pagination flex-wrap justify-content-center">
        <!-- Кнопка "Первая страница" и "Предыдущая" -->
        {% if doors.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page=1" aria-label="First">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ doors.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&lsaquo;</span>
            </a>
          </li>
        {% endif %}
    
        <!-- Логика для многоточий в начале -->
        {% if doors.number > 3 %}
          <li class="page-item">
            <a class="page-link" href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page=1">1</a>
          </li>
          {% if doors.number > 4 %}
            <li class="page-item disabled">
              <span class="page-link">...</span>
            </li>
          {% endif %}
        {% endif %}
    
        <!-- Отображение страниц вокруг текущей страницы -->
        {% for num in doors.paginator.page_range %}
          {% if num <= doors.number|add:2 and num >= doors.number|add:-2 %}
            {% if doors.number == num %}
              <li class="page-item active">
                <span class="page-link">{{ num }}</span>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ num }}">{{ num }}</a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
    
        <!-- Логика для многоточий в конце -->
        {% if doors.number < doors.paginator.num_pages|add:-2 %}
          {% if doors.number < doors.paginator.num_pages|add:-3 %}
            <li class="page-item disabled">
              <span class="page-link">...</span>
            </li>
          {% endif %}
          <li class="page-item">
            <a class="page-link" href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ doors.paginator.num_pages }}">{{ doors.paginator.num_pages }}</a>
          </li>
        {% endif %}
    
        <!-- Кнопка "Следующая" и "Последняя" -->
        {% if doors.has_next %}
          <li class="page-item">
            <a class="page-link" href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ doors.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&rsaquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ doors.paginator.num_pages }}" aria-label="Last">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  
    <section class="modal fade" id="requestModal" tabindex="-1" aria-labelledby="requestModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="requestModalLabel">Форма заявки</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form method="POST" action="{% url 'catalog' %}">
                      {% csrf_token %}
                      <div class="mb-3">
                          <label for="id_name" class="form-label">Имя</label>
                          {{ form.name }}
                      </div>
                      <div class="mb-3">
                          <label for="id_phone" class="form-label">Телефон</label>
                          {{ form.phone }}
                      </div>
                      <div class="mb-3">
                          <label for="id_call_time" class="form-label">Время звонка</label>
                          {{ form.call_time }}
                      </div>
                      <div class="mb-3">
                          <label for="id_address" class="form-label">Адрес</label>
                          {{ form.address }}
                      </div>
                      <div class="mb-3">
                          <label for="id_message" class="form-label">Сообщение</label>
                          {{ form.message }}
                      </div>
                      <button type="submit" class="btn btn-danger">Оставить заявку</button>
                  </form>
              </div>
          </div>
      </div>
    </section>
  </aside>
</section>
<script>
  let currentSort = '';  // To track current sorted field
  let sortDirection = 'asc'; // Default sort direction
  
  function sortItems(sortBy) {
      const doorList = document.getElementById('door-list');
      const doors = Array.from(doorList.getElementsByClassName('door-item'));
  
      // Обновление символов на кнопках
      const sortSymbols = {
          novelty: document.getElementById('novelty-sort-symbol'),
          price: document.getElementById('price-sort-symbol'),
          orders: document.getElementById('orders-sort-symbol')
      };
  
      // Сброс символов
      for (let key in sortSymbols) {
          if (sortSymbols[key]) {
              sortSymbols[key].innerHTML = '⇅';
          }
      }
  
      // Изменение символа на активной кнопке
      if (sortDirection === 'asc') {
          if (sortSymbols[sortBy]) {
              sortSymbols[sortBy].innerHTML = '↑';
          }
      } else {
          if (sortSymbols[sortBy]) {
              sortSymbols[sortBy].innerHTML = '↓';
          }
      }
  
      // Сортировка элементов
      doors.sort((a, b) => {
          let aValue = a.dataset[sortBy] || '';
          let bValue = b.dataset[sortBy] || '';
  
          // Преобразование в числа если значение числовое
          if (sortBy === 'price' || sortBy === 'orders') {
              aValue = parseFloat(aValue) || 0;
              bValue = parseFloat(bValue) || 0;
          }
  
          if (sortDirection === 'asc') {
              return aValue > bValue ? 1 : -1;
          } else {
              return aValue < bValue ? 1 : -1;
          }
      });
  
      // Переключение направления сортировки
      if (currentSort === sortBy) {
          sortDirection = sortDirection === 'asc' ? 'desc' : 'asc';
      } else {
          sortDirection = 'asc'; // По умолчанию для нового столбца сортировка по возрастанию
      }
  
      currentSort = sortBy;
  
      // Обновление DOM
      doors.forEach(door => doorList.appendChild(door));
      console.log('Data for sorting:', doors.map(door => ({
    id: door.id,
    price: door.dataset.price,
    orders: door.dataset.orders,
    novelty: door.dataset.novelty
})));
  }
</script>
<script>
  document.getElementById('reset-filters').addEventListener('click', function() {
    var form = document.getElementById('filter-form');
    form.reset();
    window.location.href = window.location.pathname;
  });
</script>
<script>
  // Объединение значений чекбоксов в строку перед отправкой формы
  document.getElementById('filter-form').addEventListener('submit', function(event) {
    // Бренды
    const checkedBrands = document.querySelectorAll('.brand-checkbox:checked');
    const selectedBrands = Array.from(checkedBrands).map(cb => cb.value).join(',');
    document.getElementById('brand-field').value = selectedBrands;

    // Внешняя отделка (out_covers)
    const checkedOutCovers = document.querySelectorAll('.out-cover-checkbox:checked');
    const selectedOutCovers = Array.from(checkedOutCovers).map(cb => cb.value).join(',');
    document.getElementById('out-cover-field').value = selectedOutCovers;

    // Внутренняя отделка (in_covers)
    const checkedInCovers = document.querySelectorAll('.in-cover-checkbox:checked');
    const selectedInCovers = Array.from(checkedInCovers).map(cb => cb.value).join(',');
    document.getElementById('in-cover-field').value = selectedInCovers;

    // Назначение
    const checkedPurposes = document.querySelectorAll('.purpose-checkbox:checked');
    const selectedPurposes = Array.from(checkedPurposes).map(cb => cb.value).join(',');
    document.getElementById('purpose-field').value = selectedPurposes;
  });
</script>
<script>
function addToCompare(doorId) {
    let compareList = JSON.parse(localStorage.getItem('compareList')) || [];

    if (!compareList.includes(doorId)) {
        compareList.push(doorId);
        localStorage.setItem('compareList', JSON.stringify(compareList));
        alert('Дверь добавлена в сравнение');
    } else {
        alert('Эта дверь уже в списке сравнения');
    }
}
</script>
<script>
  function addToCart(title, image, price) {
    // Получаем текущие товары из localStorage
    let cart = JSON.parse(localStorage.getItem('cart')) || [];
  
    // Проверяем, существует ли уже товар с таким заголовком в корзине
    const existingItem = cart.find(item => item.title === title);
  
    if (existingItem) {
      alert('Товар уже добавлен в корзину!');
      return; // Выходим из функции, если товар уже в корзине
    }
  
    // Добавляем новый товар в массив
    cart.push({ title: title, image: image, price: price });
  
    // Сохраняем обновленный массив в localStorage
    localStorage.setItem('cart', JSON.stringify(cart));
  
    alert('Товар добавлен в корзину!');
  }
</script>

{% endblock %}