{% extends '../index.html' %}
{% load custom_filters %}

<link rel="canonical" href="/delivery/{{ region.slug }}/" />
{% block title %}
Купить металлическую входную дверь в квартиру в {{ region.name }} по цене производителя с установкой | Каталог Паритет двери
{% endblock %}

{% block description %}
<meta name="description" content="Купить входные металлические двери по ценам производителя в квартиру в {{ region.name }} с доставкой и установкой. Изготовление на заказ недорого, гарантия, фото и описание."/>
{% endblock %}

{% block content %}

<style>
  .btn-light:hover {
      background-color: #ffdae0; /* Розовый цвет при наведении */
      border-color: #ffc0cb; /* Розовая рамка при наведении */
      color: #fff; /* Белый текст при наведении */
  }
</style>

<nav aria-label="breadcrumb" class="mt-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="link-dark" href="{% url 'index' %}">Главная</a></li>
    <li class="breadcrumb-item"><a class="link-dark" href="{% url 'delivery' %}">Доставка</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ region.name }}</li>
  </ol>
</nav>
<aside class="my-4">
    <h2 style="font-family: tilda;">Популярные категории</h2>
    <div class="row">
      {% for catalog in random_catalogs|random_catalogs %}
        <div class="col-lg-3 col-6 door-item d-flex flex-column my-2" data-price="{{ door.price }}" data-orders="{{ door.get_order_count }}" data-novelty="{{ door.id }}">
          <a href="{% url 'catalog_with_slug' catalog.slug %}">
            <img src="{{ MEDIA_URL }}{{ catalog.image }}" class="img-fluid rounded-4" alt="{{ door.title }} - Image {{ forloop.counter }}" style="height: 100%;  object-fit: cover;">
          </a>
          <article class="d-flex flex-column mt-2">
            <label class="fw-bold" style="font-size: small;">
              {{ catalog.title }}
            </label>
            <label class="text-secondary" style="font-size: small;">
              {{ catalog.get_door_count }} шт.
            </label>
          </article>
        </div>
      {% endfor %}
    </div>
</aside>

<section class="row d-flex flex-row mt-2">
    <div class="tags-cloud d-flex flex-wrap">
        <label class="text-center" style="font-size: 15px;">Основные категории: </label>
        {% for tag in tags_cloud %}
        <a href="{% url 'catalog_with_slug' tag.slug %}" class="btn btn-light link-underline link-underline-opacity-0 px-2 py-0 mx-1 mb-2" style="color: #000; font-size: 15px; border: 1px solid #ddd;">{{ tag.title }}</a>
        {% endfor %}
    </div>
</section>

<section class="container mt-3">
    <div class="row">
        <h1 class="display-4 text-center">Металлические входные двери в {{ region.name }}</h1>
        <div class="col-10 mx-auto m-4 d-flex justify-content-center">
            {% if region.image %}
                <img src="{{ region.image.url }}" alt="{{ region.name }}" class="img-fluid rounded">
            {% endif %}
        </div>
        <div class="col-12">
            <p class="lead">{{ region.text|safe }}</p>
            {% if region.cost %}
                <h5 class="mt-4 text-center">Стоимость доставки: <span class="badge rounded-pill text-bg-danger">{{ region.cost }} руб.</span></h5>
            {% endif %}
        </div>
    <a href="{% url 'delivery' %}" class="btn btn-outline-danger mt-4">Назад к списку районов доставки</a>
    </div>
</section>
{% endblock %}
