{% extends '../index.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
Купить металлическую входную дверь в Москве по цене {{ door.price }} руб. {{ door.title }} Паритет двери
{% endblock %}

{% block content %}

<script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Product",
      "name": "{{ door.title }}",
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": {{ avg_rating }},
        "reviewCount": {{ door_count }}
      },
      "offers": {
        "@type": "AggregateOffer",
        "lowPrice": {{ min_price }},
        "highPrice": {{ max_price }},
        "priceCurrency": "RUB"
      }
    }
</script>
<style>
    .image-container {
        overflow: hidden;
    }

    @media (min-width: 992px) {
        .image {
            height: 650px;
        }
    }

    @media (max-width: 991px) {
        .image {
            height: 350px;
        }
    }

    .scroll-container {
        display: flex;
        overflow-x: auto;
        max-width: 100%;
    }

    .image-container {
        flex: 0 0 auto; /* Отключаем автоматическое изменение размера */
        margin-right: 10px; /* Отступы между изображениями */
    }

    .scroll-container {
        max-width: calc(100px * 3 + 20px); /* Показываем 3 изображения по 100px с отступами */
    }
        /* Стилизация скроллбара для WebKit-браузеров (Chrome, Safari) */
        .scroll-container::-webkit-scrollbar {
        height: 8px; /* Высота скроллбара */
    }

    .scroll-container::-webkit-scrollbar-track {
        background: #f1f1f1; /* Цвет фона скроллбара */
    }

    .scroll-container::-webkit-scrollbar-thumb {
        background: #888; /* Цвет полоски прокрутки */
        border-radius: 10px; /* Закругление полоски */
    }

    .scroll-container::-webkit-scrollbar-thumb:hover {
        background: #555; /* Цвет полоски при наведении */
    }

    /* Для Firefox */
    .scroll-container {
        scrollbar-width: thin; /* Уменьшенная ширина скроллбара */
        scrollbar-color: #888 #f1f1f1; /* Цвет полоски и фона */
    }

    .equipment-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* Разделяет блоки */
    }

    .equipment-item {
        flex: 1 1 calc(33% - 20px); /* Каждому блоку занимает 50% ширины, с отступами */
        margin: 10px; /* Отступ между элементами */
        padding: 5px; /* Внутренние отступы */
        background-color: #f8f9fa; /* Цвет фона */
        border-radius: 8px; /* Закругление углов */
        text-align: center; /* Выравнивание текста по центру */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень для блока */
        transition: transform 0.2s; /* Анимация при наведении */
    }

    .equipment-item img {
        width: 100px; /* Устанавливает ширину изображения в 100% от родителя */
        height: 100px; /* Сохраняет пропорции изображения */
    }

    .equipment-item p {
        font-size: 0.9rem; /* Размер текста */
        color: #6c757d; /* Цвет текста */
    }
    
    .equipment-item h5 {
        font-size: 1.25rem; /* Размер заголовка */
        margin-bottom: 5px; /* Отступ снизу заголовка */
    }

</style>
<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a class="link-dark" href="{% url 'index' %}">Главная</a></li>
      <li class="breadcrumb-item"><a class="link-dark" href="{% url 'catalog' %}">Каталог</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ door.title }}</li>
    </ol>
</nav>
<section class="row d-flex flex-row mt-2">
    <div class="tags-cloud d-flex flex-wrap">
        <label class="text-center" style="font-size: 15px;">Популярные категории: </label>
        {% for tag in tags_cloud %}
        <a href="{% url 'catalog' %}?tags={{ tag.title }}" class="link-underline link-underline-opacity-0 badge rounded-pill" style="color: crimson; font-size: 15px;">{{ tag.title }}</a>
        {% endfor %}
    </div>
</section>
<section class="row door-card mx-auto">
    <h1 class="my-3">{{ door.title }}</h1>
    <div class="d-flex align-items-center p-2 col-lg-6 col-12 flex-column" data-bs-ride="false">
        <section class="row">
            <div class="d-flex flex-row flex-wrap align-items-start" style="width: 100%; overflow: hidden;">
            {% with door.images|split_and_get_all as image_urls %}
                {% for image_url in image_urls %}
                <div class="image-container mx-2 image" style="flex: 1 1 calc(33.33% - 10px);">
                    <img src="{{ MEDIA_URL }}{{ image_url }}" class="img-fluid" alt="{{ door.title }} - Image {{ forloop.counter }}" style="height: 100%; width: 100%; object-fit: cover;">
                </div>
                {% endfor %}
            {% endwith %}
            </div>
        </section>
        <div class="scroll-container mt-3">
            {% for image_url in images|slice:"2:" %}
                <div class="image-container mx-2">
                    <img src="{{ MEDIA_URL }}{{ image_url }}" class="img-fluid" alt="{{ door.title }} - Image {{ forloop.counter }}" style="height: 100px; width: 100px; object-fit: cover;" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="{{ MEDIA_URL }}{{ image_url }}">
                </div>
            {% endfor %}
        </div>
        <!-- Модальное окно для показа большой картинки -->
        <section class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="imageModalLabel">{{ door.title }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <img id="modalImage" src="" class="img-fluid" alt="Large Image">
                    </div>
                </div>
            </div>
        </section>
        <!-- Модальное окно с формой -->
        <section class="modal fade" id="requestModal" tabindex="-1" aria-labelledby="requestModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="requestModalLabel">Форма заявки</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="{% url 'door_detail' slug=door.slug %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="id_name" class="form-label">Имя</label>
                                {{ form.name }}
                            </div>
                            <div class="mb-3">
                                <label for="id_phone" class="form-label">Телефон</label>
                                {{ form.phone }}
                            </div>
                            <div class="mb-3">
                                <label for="id_call_time" class="form-label">Время звонка</label>
                                {{ form.call_time }}
                            </div>
                            <div class="mb-3">
                                <label for="id_address" class="form-label">Адрес</label>
                                {{ form.address }}
                            </div>
                            <div class="mb-3">
                                <label for="id_message" class="form-label">Сообщение</label>
                                {{ form.message }}
                            </div>
                            <button type="submit" class="btn btn-danger">Оставить заявку</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <label class="my-2 h5">Комплектация</label>
        <section class="equipment-list">
            {% for equipment in equipment_list %}
                <div class="equipment-item">
                    <img src="{{ MEDIA_URL }}{{ equipment.image_url }}" alt="{{ equipment.name }}" 
                         data-bs-toggle="modal" 
                         data-bs-target="#imageModal" 
                         data-bs-image="{{ MEDIA_URL }}{{ equipment.image_url }}">
                    <p>{{ equipment.name }}</p>
                </div>
            {% endfor %}
        </section>
    </div>
    <article class="col-lg-6 col-12">
        <h5>Артикул: {{ door.article }}</h5><hr>
        <section class="d-flex flex-lg-row flex-column text-secondary my-4 justify-content-center" style="gap: 10px;">
            <div class="col p-2">
                <p>Цена</p>
                {% if door.discount %}
                    <label class="rounded p-2" style="background-color: #ffe5e5; font-family: gasalt; font-size: 25px;">
                        {% with result=door.price|calculate_discount:door.discount %}
                            <label class="card-text rounded" style="color: #ff0000;">{{ result.final_price }} ₽</label>
                            <label class="card-text rounded text-secondary strikethrough-svg" style="font-size: small;">
                                <span>{{ door.price|format_number }} ₽</span>
                            </label>
                            <label class="card-text rounded bg-danger text-white p-1" style="font-size: x-small;">-{{ door.discount }}%</label>
                        </label>
                            <p class="rounded text-secondary bg-light" style="font-size: x-small;">Итоговая скидка: {{ result.discount_amount }} ₽</p>
                        {% endwith %}
                {% else %}
                    <label class="card-text p-2 rounded text-dark" style="font-family: gasalt; font-size: 35px;">{{ door.price|format_number }} ₽</label>
                {% endif %}
                <section class="d-flex flex-column mt-3" style="gap: 20px;">
                    <button type="button" class="btn btn-outline-danger w-100" data-bs-toggle="modal" data-bs-target="#requestModal">
                        Оставить заявку
                    </button>
                    <a href="tel:+74993229125">
                        <button type="button" class="btn btn-outline-primary w-100">
                            Консультация
                        </button>
                    </a>
                </section>
                </div>
            <div class="col p-2">
                <label class="text-dark fw-bold">Скидка <label class="text-danger">10%</label> до {{ delivery_date }}!</label>
                <p style="font-size: small;">Укажите номер телефона для резерва скидки</p>
                <form method="POST" action="{% url 'door_detail' door.slug %}" class="row text-light d-flex flex-column justify-content-center align-items-center" style="gap: 10px;">
                    {% csrf_token %}
                    <div class="col d-flex">
                      {{ discount_form.phone }}
                    </div>
                    <button type="submit" class="btn text-light col-10 rounded-pill bg-danger">Получить</button>
                </form>
            </div>
        </section><hr>
        <section class="d-flex flex-row text-secondary my-4 justify-content-center" style="gap: 10px;">
            <div class="shadow rounded px-2" style="font-size: small;">
                <i class="bi bi-arrow-up-left-square"></i> Доставка + установка:
                <p class="text-dark">бесплатно по МКАД</p>
            </div>
            <div class="shadow rounded px-2" style="font-size: small;">
                <i class="bi bi-arrow-up-left-square"></i> Выезд на замер:
                <p class="text-dark">0 рублей</p>
            </div>
            <div class="shadow rounded px-2" style="font-size: small;">
                <i class="bi bi-arrow-up-left-square"></i> Ближайший монтаж:
                <p class="text-dark">{{ delivery_date }}</p>
            </div>
            <div class="shadow rounded px-2" style="font-size: small;">
                <i class="bi bi-arrow-up-left-square"></i> Гарантия:
                <p class="text-dark">5-20 лет</p>
            </div>
        </section><hr>
        <h5 class="text-center">Характеристики</h5><hr>
        <ul class="list-group">
            {% for value in characteristics.values %}
                {% if value != "Нет информации" and key != "colors" %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ value }} 
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <h6 class="text-center my-2">Внешние характеристики</h6>
        <ul class="list-group">
            {% for value in out_characteristics.values %}
                {% if value != "Нет информации" %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ value }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <h6 class="text-center my-2">Внутренние характеристики</h6>
        <ul class="list-group">
            {% for value in in_characteristics.values %}
                {% if value != "Нет информации" %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ value }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </article>
    
</section>
        
<section class="mt-4" style="background-color: #ff0000;">
    <div class="text-light d-flex align-items-center justify-content-center fw-bold" style="height: 50px; font-size: large;">
      Обратная связь
    </div>
      <form method="POST" action="{% url 'door_detail' door.slug %}" class="p-3 text-light d-flex justify-content-center flex-column align-items-center" >
        {% csrf_token %}
        <div class="mb-3 w-100">
          <label for="id_name">Имя</label>
          {{ form.name }}
        </div>
        <div class="mb-3 w-100">
          <label for="id_phone">Телефон</label>
          {{ form.phone }}
        </div>
        <div class="mb-3 w-100">
          <label for="id_call_time">Время звонка</label>
          {{ form.call_time }}
        </div>
        <div class="mb-3 w-100">
          <label for="id_address">Адрес</label>
          {{ form.address }}
        </div>
        <div class="mb-3 w-100">
          <label for="id_message">Техническое задание</label>
          {{ form.message }}
        </div>
        <button type="submit" class="btn btn-light col-4">Оставить заявку</button>
      </form>
</section>
<script>
    // Обработчик события для открытия модального окна с нужной картинкой
    var imageModal = document.getElementById('imageModal');
    imageModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var imageUrl = button.getAttribute('data-bs-image');
        var modalImage = document.getElementById('modalImage');
        modalImage.src = imageUrl;
    });
</script>
    

{% endblock content %}