{% extends '../index.html' %}
{% block content %}
<h2 class="my-3 text-center">Установка входных дверей</h2>
<label class="mt-2" style="font-family: tilda-medium;">
    <p>Установка входных металлических дверей осуществляется штатными специалистами.
    Время установки заранее согласовывается с Заказчиком.
    Гарантия распространяется на услуги по установке, если она выполнялась мастерами Паритет-Двери.
    Подробнее об условиях предоставления гарантии <a class="link link-dark" href="{% url 'garant' %}">читайте здесь.</a></p>
</label>
<section class="row d-flex">
  <ul class="list-group text-center my-4 col-lg-6">
    <li class="list-group-item text-center text-light" style="background-color: crimson;">Перечень услуг по установке дверей</li>
    <li class="list-group-item">Замер и подготовка дверного проема</li>
    <li class="list-group-item">Демонтаж старой двери</li>
    <li class="list-group-item">Установка входной двери</li>
    <li class="list-group-item">Регулировка фурнитуры</li>
    <li class="list-group-item">Оформление гарантии</li>
    <li class="list-group-item">Консультации</li>
  </ul>
  <ul class="list-group text-center my-4 col-lg-6">
    <form method="POST" action="{% url 'installation' %}">
      <li class="list-group-item text-center text-light mb-2" style="background-color: crimson;">Расчет стоимости услуг</li>
      {% csrf_token %}
      <section class="row">
        <div class="mb-3 col-6">
          <label for="id_name">Имя</label>
          {{ form.name }}
        </div>
        <div class="mb-3 col-6">
          <label for="id_phone">Телефон</label>
          {{ form.phone }}
        </div>
        <div class="mb-3 col-6">
          <label for="id_call_time">Время звонка</label>
          {{ form.call_time }}
        </div>
        <div class="mb-3 col-6">
          <label for="id_address">Адрес</label>
          {{ form.address }}
        </div>
        <div class="mb-3">
          <label for="id_message">Сообщение</label>
          {{ form.message }}
        </div>
      </section>
      <button type="submit" class="btn btn-danger">Оставить заявку</button>
    </form>
  </ul>
</section>
<table class="table text-center border">
  <thead>
    <tr>
      <th scope="col" class="bg-danger text-light">Услуга</th>
      <th scope="col" class="bg-danger text-light">Стоимость</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Монтаж металлической двери в готовый проем</td>
      <td>5000 руб. При заказе монтажа, доставка бесплатно!</td>
    </tr>
    <tr>
      <td>Монтаж двустворчатой металлической двери в готовый проем</td>
      <td>6000 руб.</td>
    </tr>
    <tr>
      <td>Расширение кирпичного проема до 5 см в одну сторону</td>
      <td>1500 руб.</td>
    </tr>
    <tr>
      <td>Расширение бетонного проема до 5 см в одну сторону</td>
      <td>1500 руб.</td>
    </tr>
    <tr>
      <td>Расширение монолитного проема до 5 см в одну сторону</td>
      <td>2000 руб.</td>
    </tr>
    <tr>
      <td>Подъем двери весом до 100кг/более 100кг на этаж, без лифта</td>
      <td>250/350 руб/этаж</td>
    </tr>
    <tr>
      <td>Демонтаж деревянной рамы с фрамугой</td>
      <td>1800 руб.</td>
    </tr>
    <tr>
      <td>Демонтаж старой металлической двери</td>
      <td>1500 руб.</td>
    </tr>
    <tr>
      <td>Монтаж с применением сварочных работ («уши», штыри), за 1 сторону (с учетом материала)</td>
      <td>1500 руб.</td>
    </tr>
    <tr>
      <td>Запенивание и герметизация монтажных зазоров</td>
      <td>бесплатно</td>
    </tr>
    <tr>
      <td>Уборка мусора после монтажа без его выноса</td>
      <td>бесплатно</td>
    </tr>
  </tbody>
</table>
<div class="vstack col-12 col-lg-8 mx-auto text-center">
    <section>
      <i class="bi bi-1-square" style="font-size: 50px;"></i>
      <p class="lh-1" style="font-size: 30px">Замер</p>
      <label class="text-secondary text-start">
        Для записи на замер Вы можете:<br>
        позвонить по телефонам: +7 (499) 322-91-25;
        оставить заявку, воспользовавшись специальной формой;
        написать нам со страница Контакты. 
      </label>
    </section>
    <section>
      <i class="bi bi-2-square" style="font-size: 50px;"></i>
      <p class="lh-1" style="font-size: 30px">Доставка</p>
      <label class="text-secondary text-start">
        Доставка готовой двери осуществляется в течение 1–3 дней.
        Готовую конструкцию для транспортировки упаковывают в пленку или в гофрокартон.
        Более подродно о регионах и стоимости доставки в разделе Доставка.
      </label>
    </section>
    <section>
      <i class="bi bi-3-square" style="font-size: 50px;"></i>
      <p class="lh-1" style="font-size: 30px">Монтаж</p>
      <label class="text-secondary text-start">
        В основные этапы монтажа двери входят:
        очистка проёма, демонтаж, примерка и выравнивание, фиксация, запенивание
      </label>
    </section>
    <section>
      <i class="bi bi-4-square" style="font-size: 50px;"></i>
      <p class="lh-1" style="font-size: 30px">Приемка работ</p>
      <label class="text-secondary text-start">
        Заранее до начала работ осмотрите полотно на наличие сколов и царапин.
        После установки и регулировки проверьте фурнитуру: ручки должны легко поддаваться,
        ригеля замков беспрепятственно входить в отверстия коробки, а вертушка
        замка проворачиваться без усилий.
        Проверьте места стыковки доборов с коробкой: там не должно быть
        сколов и больших щелей.
        Дверь в открытом состоянии должна оставаться на месте.
        Дверное полотно должно плотно прилегать к коробке, не болтаться и не искривляться
        при закрывании. Никаких скрипов и постороннего шума.
      </label>
    </section>
</div>
<h4 class="text-center my-4 mx-auto">
  <span class="badge text-bg-danger">Важно!</span>
  Обязательно подписывайте акт приемки работ.
  На основании акта предоставляются услуги гарантийного обслуживания. 
</h4>
<section>
  <label class="text-start">
    Монтажники приезжают в условленный день со всеми необходимыми
    инструментами, справятся за час или полтора. Распашные двери усаживают на саморезы,
    прикручивают через петли. При помощи клиньев выстраивают коробку.
    Брусья спиливают под углом, верхний полностью, у боковых только передняя часть.
    Чтобы не ошибиться с выбором, при покупке межкомнатной двери стоит учесть такие
    факторы, как размер проема, материал двери, ее покрытие и наполнение. 
    Разобраться со всеми тонкостями помогут специалисты Интернет-магазина Paritet-dveri.ru.
  </label>
</section>
{% endblock content %}