@font-face {
  font-family: 'standart';
  src: url('{% static "fonts/PenguinAttackCyrillic.otf" %}') format('opentype');
  font-weight: 400; /* Обычный вес */
  font-style: normal; /* Обычный стиль (не курсив) */
}
