/* В файле стилей, например, styles.css */
:root {
  --navbar-active: #000;
  --navbar-text: #000;
  --navbar-background: #fdfdfd;
  --navbar-selected: #fdfdfd;
  --navbar-hover: #e8e8e8;
  --text: #000;
  --border: #000;
  --background: #fdfdfd;
  --base-block-background: #ff6e6e;
  --base-block-text: #000000;
  --base-text: #000000;
  --base-lock-icon-color: #ff4c4c;
  --dom-background: #fdfdfd;
  --stepper-icon: #b9b9b9;
  --stepper-text: #000;
  --stepper-label: #000;
}

.pal-text {
  color: var(--text);
}

.pal-bg {
  background-color: var(--background);
}

body {
  background-color: var(--dom-background);
}