<footer class="text-secondary py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Контактная информация</h5>
        <p>Адрес: 1234 Улица, Город, Страна</p>
        <p>Телефон: +123 456 7890</p>
        <p>Email: info@example.com</p>
      </div>
      <div class="col-md-6">
        <h5>Полезные ссылки</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-secondary">О компании</a></li>
          <li><a href="#" class="text-secondary">Услуги</a></li>
          <li><a href="#" class="text-secondary">Часто задаваемые вопросы</a></li>
          <li><a href="#" class="text-secondary">Политика конфиденциальности</a></li>
          <li><a href="#" class="text-secondary">Условия использования</a></li>
        </ul>
      </div>
    <div class="text-center mt-4">
      <p>© 2024 Паритет Двери. Все права защищены.</p>
      <div>
        <a href="#" class="text-secondary me-2">Telegramm</a>
        <a href="#" class="text-secondary me-2">WhatsApp</a>
        <a href="#" class="text-secondary me-2">Vk</a>
      </div>
    </div>
  </div>
</footer>
