{% load custom_filters %}

<style>
  @media (max-width: 576px) { /* Для экрана sm и меньше */
    .door-section {
      height: 250px;
    }
    .door-image {
      height: 200px;
    }
  }

  @media (min-width: 576px) and (max-width: 768px) { /* Для экрана md */
    .door-section {
      height: 250px;
    }
    .door-image {
      height: 200px;
    }
  }

  @media (min-width: 768px) and (max-width: 992px) { /* Для экрана lg */
    .door-section {
      height: 350px;
    }
    .door-image {
      height: 300px;
    }
  }

  @media (min-width: 992px) { /* Для экранов больше чем lg */
    .door-section {
      height: 350px;
    }
    .door-image {
      height: 300px;
    }
  }
</style>
</style>

<section class="random-doors container my-4">
  <h2 class="text-center">Популярные двери</h2>
  <section class="row d-flex justify-content-center">
    {% for door in random_doors %}
      <div class="col-lg-3 col-8 mt-4 door-item" data-price="{{ door.price }}" data-orders="{{ door.get_order_count }}" data-novelty="{{ door.id }}">
        <div class="card h-100 d-flex flex-column">
          <section class="d-flex align-items-center p-2 door-section" style="overflow: hidden;">
            <div class="position-absolute d-flex flex-column" style="top: 10px; z-index: 2;">
              {% for tag in door.tags.all %}
                <span class="badge rounded-pill text-{{ tag.text_color }} mx-auto" style="background-color: {{ tag.color_hex }}; margin-bottom: 5px;">{{ tag.title }}</span>
              {% endfor %}
            </div>
            <div class="d-flex flex-row flex-wrap align-items-center door-section" style="width: 100%;">
              {% with door.images|split_and_get_all as image_urls %}
                {% for image_url in image_urls %}
                  <div class="image-container d-flex justify-content-center door-image" style="flex: 1 1 calc(50% - 10px); margin: 5px; overflow: hidden;">
                    <a href="{% url 'door_detail' slug=door.slug %}"><img src="{{ MEDIA_URL }}{{ image_url }}" class="img-fluid" alt="{{ door.title }} - Image {{ forloop.counter }}" style="height: 100%;  object-fit: cover;"></a>
                  </div>
                {% endfor %}
              {% endwith %}
            </div>
          </section>

          <section class="card-body d-flex flex-column mt-auto">
            <a href="{% url 'door_detail' slug=door.slug %}"><p class="card-title fw-bold">{{ door.title }}</p></a>
            {% if door.discount %}
            <label class="rounded p-2" style="background-color: #ffe5e5; font-family: gasalt;">
              <label class="card-text rounded" style="color: #ff0000;">{{ door.price|calculate_discount:door.discount }} ₽</label>
              <label class="card-text rounded text-secondary strikethrough-svg" style="font-size: small;">
                <span>{{ door.price|format_number }} ₽</span>
                <svg viewBox="0 0 100 100">
                  <line x1="-150" y1="0" x2="150" y2="80" stroke="#ff0000" stroke-width="4"/>
                </svg>
              </label>
              <label class="card-text rounded bg-danger text-white p-1" style="font-size: x-small;">-{{ door.discount }}%</label>
            </label>
            {% else %}
            <label class="card-text p-2 rounded text-dark" style="font-family: gasalt;">{{ door.price|format_number }} ₽</label>
            {% endif %}
            <div class="flex-lg-row flex-column mt-auto align-items-center justify-content-center" style="gap: 5px;">
              <a href="{% url 'door_detail' slug=door.slug %}" class="flex-grow-1">
                  <button class="btn btn-outline-danger fw-bold btn-sm w-100">Узнать подробнее</button>
              </a>
              <div class="flex-grow-1">
                  <button class="btn btn-outline-danger fw-bold btn-sm w-100 mt-2" data-bs-toggle="modal" data-bs-target="#requestModal">Купить в 1 клик</button>
              </div>
            </div>          
          </section>
        </div>
      </div>
    {% endfor %}
  </section>
  <h2 class="text-center my-2">Есть предложение или хотите заказать дверь?</h2>
  <div class="row d-flex justify-content-center">
    <section class="mt-4 col-lg-6" style="background-color: #ff0000;">
      <div class="text-light fw-bold text-center pt-2" style="height: 50px; font-size: large;">
        Обратная связь
      </div>
      <form method="POST" action="{% url 'index' %}" class="p-3 text-light d-flex justify-content-center flex-column align-items-center" >
        {% csrf_token %}
        <div class="mb-3 w-100">
          <label for="id_name">Имя</label>
          {{ form.name }}
        </div>
        <div class="mb-3 w-100">
          <label for="id_phone">Телефон</label>
          {{ form.phone }}
        </div>
        <div class="mb-3 w-100">
          <label for="id_call_time">Время звонка</label>
          {{ form.call_time }}
        </div>
        <div class="mb-3 w-100">
          <label for="id_address">Адрес</label>
          {{ form.address }}
        </div>
        <div class="mb-3 w-100">
          <label for="id_message">Техническое задание</label>
          {{ form.message }}
        </div>
        <button type="submit" class="btn btn-light col-4">Оставить заявку</button>
      </form>
    </section>
  </div>
</section>
<script>
  window.onload = function() {
      const recentlyViewed = JSON.parse(localStorage.getItem('recently_viewed')) || [];
      const footerSection = document.querySelector('.recently-viewed-doors');
  
      recentlyViewed.forEach(door => {
          const doorElement = document.createElement('div');
          doorElement.classList.add('col-6');
          doorElement.innerHTML = `<p>${door.title}</p>`;
          footerSection.appendChild(doorElement);
      });
  }
</script>

<section>
  <div class="recently-viewed-doors">
    <h5>Недавно просмотренные двери:</h5>
    <div class="row">
        <!-- Двери будут добавлены сюда с помощью JavaScript -->
    </div>
  </div>
</section>

<footer class="text-light py-4 bg-dark mt-auto">
  <section class="container d-flex justify-content-center flex-lg-row flex-column">
    <nav class="col-lg-4 col-12 d-flex flex-column">
        <h5 class="text-light mb-3 fw-bold">Контактная информация</h5>
        <p class="lh-lg text-secondary">
          Адрес: г. Москва, ул. Пришвина 26<br>
          Телефон: +7(499) 322-91-25<br>
          Почта: paritet-dveri@inbox.ru
        </p>
    </nav>
    <nav class="col-lg-4 col-12 d-flex flex-column">
      <h5 class="text-light mb-3">Полезные ссылки</h5>
      <a class="link-underline link-underline-opacity-0 text-secondary" href="{% url 'catalog' %}">Каталог</a>
      <a class="link-underline link-underline-opacity-0 text-secondary" href="{% url 'contact' %}">Контакты</a>
      <a class="link-underline link-underline-opacity-0 text-secondary" href="{% url 'blog_chapter' %}">Блог</a>
      <a class="link-underline link-underline-opacity-0 text-secondary" href="{% url 'installation' %}">Установка</a>
      <a class="link-underline link-underline-opacity-0 text-secondary" href="{% url 'garant' %}">Гарантии</a>
      <a class="link-underline link-underline-opacity-0 text-secondary" href="{% url 'reviews' %}">Отзывы</a>
      <a class="link-underline link-underline-opacity-0 text-secondary" href="{% url 'calculator' %}">Калькулятор</a>
    </nav>
    <nav class="col-lg-4 col-12 d-flex flex-column">
      <a class="link-underline-light text-light fw-bold mb-3" href="{% url 'catalog' %}" style="font-size: large;">Каталог дверей</a>
      {% for catalog in random_catalogs_in_footer %}
        <a class="link-underline link-underline-opacity-0 text-secondary" href="{% url 'catalog_with_slug' catalog.slug %}">{{ catalog.title }}</a>
      {% endfor %}
    </nav>
  </section>
  <section class="text-center mt-4">
    <div>
      <a href="https://vk.com/paritetdveri" class="link-light me-2" target=_blank>Vk</a>
      <a href="https://wa.me/79296224835" class="link-light me-2" target=_blank>WhatsApp</a>
      <a href="https://t.me/alex12_alex12" class="link-light me-2" target="_blank">Telegramm</a>
    </div>
    <p>© 2024 Паритет Двери. Все права защищены.</p>
  </section>
</footer>
