{% load static %}

<div class='row d-flex align-items-stretch border-bottom bg-main mx-auto'>
  <div class="row mx-auto d-flex d-lg-none justify-content-center align-items-center mt-4 bg-success">
    <div class='col-2 bg-danger'>
      <img class='img-fluid rounded' src="{% static 'images/icons/menu-50.png' %}" alt="Меню"/>
    </div>
    <div class='col-8 bg-info'>
      <img class='img-fluid btn btn-link' src="{% static 'images/logos/logo-paritet.png' %}" alt="Логотип"/>
    </div>
    <div class='col-2 bg-danger'>
      <a href="tel:+79296224835">
        <img class='img-fluid rounded' src="{% static 'images/icons/phone-50.png' %}" alt="Телефон" />
      </a>
    </div>
  </div>
  <article class="col-lg-4 d-none d-lg-flex justify-content-center align-items-center bg-info">
    <img class='img-fluid btn btn-link' src="{% static 'images/logos/logo-paritet.png' %}" alt="Логотип"/>
  </article>
  <article class='col-lg-4 d-none d-lg-flex align-items-center justify-content-center bg-warning'>
    <div class="input-group mb-3 w-50">
      <input type="text" class="form-control" placeholder="Введите название товара" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="btn bg-dark text-light" id="basic-addon2">Поиск</div>
    </div>
  </article>
  <article class='col-lg-2 d-none d-lg-flex d-flex align-items-center justify-content-center bg-success'>
    <a href="tel:+79296224835" class='link-underline link-underline-opacity-0 h7 text-center pal-text' style="font-size: 30;">
      +7 (929) 622-48-35
      <p class='fw-lighter'>Без выходных, 08:00 - 20:00</p>
    </a>
  </article>
  <article class='col-lg-2 d-none d-lg-flex align-items-center justify-content-center bg-danger'>
    <div class="d-flex flex-row">
      <a href="https://wa.me/79296224835">
        <img class='img-fluid bg-light me-4' src="{% static 'images/icons/wapp-60.png' %}" alt="Whatsapp" style="width: 50px; height: auto"/>
      </a>
      <a href="https://t.me/@alex12_alex12">
        <img class='img-fluid bg-light ms-4' src="{% static 'images/icons/tg-50.png' %}" alt="Telegram" style="width: 50px; height: auto"/>
      </a>
    </div>
  </article>
</div>
</header>
<div class='container border-bottom d-lg-flex d-none'>
<NavBar orientation='horizontal'/>
</div>